.navbar_general {
    background-color: #100146;
    height: 114px;
}

.right_navbar {
    justify-content: flex-end;
}
.btn_nav {
    color: #fafafa !important;
}

.container button{
    border: 0;
}

.container button i{
    font-size: 40px;
    color: #FFFFFF;
}


@media (max-width: 991px) {
    .container {
        max-width: 100%;
        background: #100146;
    }

    .right_navbar {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        padding-top: 20px;
        align-items: end;
    }
}
